<footer>
    <p>Dirty Ol'Ambusher is 1/3 of the post-avant-post-rock trio <a target="_" href="https://soundcloud.com/ambushersound">Ambusher</a>. Plowing headlong
into the outer limits of good taste with his electronic guitar (aka, Summoner of
Satan), and often leaving the audience far behind, "The Dirtster" creates an
experience like no other. Perplexed. Overjoyed. Angered. Ecstatic. Disappointed.
Serene. These are all common, usually simultaneous, reactions to encountering
the "far out" sounds of "El Dirterido" for the first time.
</p>
</footer>
